[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lark = "*"
lxml = "*"
numpy = "*"
toml = "*"
Pint = "*"
pynverse = "*"
mypy = "*"

[dev-packages]
mypy = "*"
ipykernel = "*"
matplotlib = "*"
ipympl = "*"
cd = "*"

[requires]
python_version = "3.10"
